{
  "db": {
    "host": "172.16.102.123",
    "port": "5432",
    "database": "gobiz",
    "username": "gobiz",
    "password": "gobiz",
    "name": "db",
    "debug": true,
    "connector": "postgresql"
  }
}
