{
  "db": {
    "host": "172.16.102.123",
    "port": "5432",
    "database": "polim",
    "username": "polim",
    "password": "polim",
    "name": "db",
    "debug": true,
    "connector": "postgresql"
  },
  "redis": {
      "name": "redis",
      "host": "192.168.10.250",
      "port": 6379,
      "connector": "memory"
  },
  "transient": {
    "name": "transient",
    "connector": "transient"
  },
  "userFiles": {
    "name": "userFiles",
    "connector": "loopback-component-storage",
    "provider": "filesystem",
    "root": "D:\\Alimama\\f1 shipping\\server\\server\\userFiles"
  }
}
